<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meme Details</title>
  <%- include('./partials/head.ejs') %>
</head>
  <body class="position-relative" data-bs-spy="scroll">
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/memeDetails.ejs') %>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>